@media all
{
@font-face
{
	font-family: Roboto;
	src: url('../fonts/Roboto-Regular.ttf'),
		 url('../fonts/Roboto-Medium.ttf'),
		 url('../fonts/Roboto-MediumItalic.ttf'),
		 url('../fonts/Roboto-Light.ttf'),
		 url('../fonts/Roboto-LightItalic.ttf'),
		 url('../fonts/Roboto-Italic.ttf'),
		 url('../fonts/Roboto-Bold.ttf'),
		 url('../fonts/Roboto-BoldItalic.ttf'),
		 url('../fonts/Roboto-Black.ttf'),
		 url('../fonts/Roboto-BlackItalic.ttf'),
		 url('../fonts/Roboto-Thin.ttf'),
		 url('../fonts/Roboto-ThinItalic.ttf'); /* IE9 */
}
}

/*
 * CSS for common elemenet like div, h1, h2, a
 */
body
{
	font: 13px Roboto, Arial, sans-serif;
	background: #F0F0F0;
	margin: 0;
}
body.night
{
	background: #222;
	color: #FFF;
	padding-bottom: 50px;
}

a
{
	color: #427fed;	
	text-decoration:none;		
}
a:hover
{
	text-decoration: underline;
}
label, input, button {
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="text"], input[type="password"] 
{
	background:#FFF;
	border:1px solid #CCC;	
	padding:5px;
	
}
input[type="submit"],input[type="button"], button {
	margin:0 5px;
	color:#FFF;
	border:1px solid #3079ed;
	background:#4d90fe;
	padding:7px 15px;
	font-weight:bold;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	cursor:pointer;
	outline:none;
}
input[type="submit"].white,input[type="button"].white, button.white
{
	color:#333;
	border:1px solid #CCC;
	background:#FFF;
}
input[type="submit"].white:hover,input[type="button"].white:hover, button.white:hover
{
	border-color: #999;
}
table
{
	border-spacing: 0;
	width: 100%;
}
table thead tr td
{
	font-weight: bold;
	padding-bottom: 10px;
}

table tbody tr td
{
	padding: 7px 10px;
	border-bottom: 1px solid #CCC;
}
table tr td.first
{
	padding-left: 15px;
}
/*
 * CSS for common class (class that used regardless of place)
 */
.center
{
	margin: 0 auto;
	width: 1000px;
}
.clearfix {
	zoom:1;
}
.clearfix::after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;	
}
.panel {
	min-width: 440px;
	background:#FFF;
	border:1px solid #d8d8d8;
	border-top-width:1px;
	border-top-color:transparent;
	border-bottom-width:2px;
	padding:10px 0;
	margin-top:20px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.panel.nowarp
{
	padding:0;
}
.panel.red
{
	background: #FAA;
	border: 1px solid #F00;
	padding-left: 20px;
	padding-right: 20px;
}
.panel .warp
{
	margin-left: 15px;
	margin-right: 15px;
}
.panel .pwarp
{
	margin-top: 10px;
}
.panel .command
{
	text-align: right;
	border-bottom: 1px solid #CCC;
}
.panel .command a
{
	display: inline-block;
	padding: 10px 5px;
	margin-left: 5px;
	margin-right: 5px;
	color: #999;
	font-weight: bold;
	border-bottom: 3px solid #FFF;
}
.panel .command a:hover
{
	color: #000;
	text-decoration: none;
	border-bottom-color: #af2b26;
}
.card
{
	width: 440px;
	float: left;
	margin-right: 20px;
}
.card .thumb
{
	float: left;
}
.card .title
{
	font-size: 16px;
}
.card .page
{
	float:right;
	width: 179px;
	height: 170px;
	overflow: hidden;
}
.section
{
	float: left;
}
.section .panel
{
	margin-left: 20px;	
}
.dt
{
	display: table;
	margin: 0 auto;	
}
.desc
{
	color: #777777;
}
.red
{
	color: #F33;
}
.green
{
	color: #24a701;
}
.file-list
{
	border-bottom: 1px solid #CCC;
	padding: 10px 15px;
}
.file-list label
{
	padding: 10px 15px 10px 5px;
}
.loading-bar
{
	border:1px solid #3079ed;
	display: none;
}
.loading-bar .current
{
	width: 0%;
	background:#4d90fe;
	height: 30px;
}
.more
{
	margin: 10px auto 0;
}
.btnmore:hover
{
	background: #F0F0F0;
}
.btnmore a
{
	font-weight: bold;
	color:#333;
	padding: 10px;
	display: block;
	text-align: center;
}
.text-image
{
	display: inline-block;
	height: 16px;
	vertical-align: text-top;
}


/* CSS for ControlPanel Elements
 * 
 */
.controlpanel
{
	position: fixed;
	top: 0;
	left: 0;
}
.controlpanel .logo
{
	background: #4D90FE;
	padding: 10px;
	height: 24px;
}
.controlpanel ul, .controlpanel:hover .logo
{
	display: none;
}
.controlpanel ul
{
	list-style: none;
	margin:0;
	padding: 0;
}
.controlpanel:hover
{
	width: 250px;
	bottom: 0;
	background: #FFF;
	box-shadow:0 0 40px rgba(0,0,0,0.4);
	-moz-box-shadow:0 0 40px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 0 40px rgba(0,0,0,0.4);
}
.controlpanel:hover ul
{
	display: block;
	border-top: 1px solid #CCC;
}
.controlpanel:hover ul.first
{
	border-top: 0;
}
.controlpanel:hover ul li a
{
	font-size: 14px;
	display: block;
	padding-left: 20px;
	padding-right 20px;
	line-height: 44px;
	color: #737373;
}
.controlpanel:hover ul li a:hover
{
	color: #000;
	text-decoration: none;
	background: #F0F0F0;
}
.controlpanel .text-image
{
	padding-right: 15px;
}

/*
 * CSS for Header
 */
.header
{
	background: rgba(255,255,255,0.9);
	height: 44px;
	border-bottom: 1px solid #CCC;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.15);
	-moz-box-shadow:0 2px 4px 0 rgba(0,0,0,0.15);
	-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,0.15);
}
body.night .header
{
	background: rgba(21,21,21,0.9);
	border-bottom: none;
}
.header .search
{
	margin:6px auto 0;
	background: #FFF;
	padding:0;
	width: 519px;
}
.header .search input[type="text"]
{
	border-right:none;
	outline: none;
	font-size:15px;
	line-height:21px;
	width: 440px;
	margin: 0;
}
.header .search button
{
	border-left:none;
	margin: 0;
	border-radius: 0;
	width: 37px;
}
.header .search button img
{
	display:inline-block;
}
.header a
{
	display: inline-block;
	line-height: 44px;
	margin: 0 10px;
	padding: 0 5px;
	color: #CCC;
}
.header a:hover
{
	text-decoration: none;
	border-bottom: 3px solid #af2b26;
}

/*
 * CSS for Content Elements
 */
.content
{
	padding-top: 60px;
}

/*
 * CSS for custom page
 */
.nf .title
{
	padding: 0 10px 10px;
}
.nf .title a
{
	font-weight: bold;
	color: #000;
}
.nf .chapter
{
	padding-left: 15px;
	padding-right: 10px;
}
.nf .chapter a
{
	color: #000;
}
.nf:hover .chapter a
{
	color: #427fed;
}
.nf .thumb
{
	margin-top: 10px;
}
.nf .opt
{
	margin: 10px 10px 0;
}
.login
{
	width: 350px;
	margin: 0 auto;
}
.login input[type="text"], .login input[type="password"]
{
	font-size: 16px;
	padding: 10px;
	width: 250px;
}
.login input[type="submit"]
{
	width: 240px;
	margin-top: 10px;
}
.login .opt
{
	width: 274px;
	margin: 10px auto 0;
}
.login .opt .right
{
	float: right;
}
.read
{
	display: inline-block;
	text-align: center;
	margin-top: 30px;
	width: 100%;
}
.read img
{
	margin-top: 30px;
	background:#FFF;
	padding: 10px;
}
