<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
		  <rules>
			<rule name="Imported Rule 1" stopProcessing="true">
			  <match url="^(.*)$" ignoreCase="false" />
			  <conditions>
				<add input="{R:1}" pattern="^(index\.php|favicon.ico|public|docs|robots\.txt)" ignoreCase="false" negate="true" />
			  </conditions>
			  <action type="Rewrite" url="index.php/{R:1}" />
			</rule>
		  </rules>
		</rewrite>
    </system.webServer>
</configuration>